$global-font-color: #898989;
$global-font-title: #BEBEBE;
$global-font-grey: #888888;
$color-white-25:#F0F0F0;
$color-text-light:#212529;
$primary-color: #D02128;
$secondary-color: #101940;
$primary-color-light:#C06363;
$primary-color-lighter: #FFF6F6;
$primary-color-dark:#A30007;
$color-red-medium:#E31E24;
$color-cultured:#f8f7f8;
$color-white: #fff;
$color-white-smoke:#F5F5F5;
$color-white-light:#FFF8F8;
$color-ghost-white:#F9F9F9;
$color-seashell : #f1f1f1;
$color-light-pink:#FFDDDD;
$color-black: #000;
$color-dark-grey:#999;
$color-grey-85: #D9D9D9;
$color-grey-86: #DBDBDB;
$color-grey-85-light: #d9d9d931;
$color-grey-91: #e8e8e8;
$color-dim-grey:#717171;
$color-light-yellow: rgba(255, 255, 255, 0.902);
$color-light-red: #FFFDFD;
$color-smalt: #053D92;
$color-link: #2f65b9;
$color-link-visited: #2f65b9;
$color-link-active: #2f65b9;
$color-blue: #7016d0;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-purple-light:#4E0AA6;
$color-pink: #d63384;
$color-red: #C03221;
$color-orange: #FFD329;
$color-yellow: #F16A1B;
$color-green: #1AA053;
$color-green-dark:#5AAC63;
$color-light-green:#B7EEFF;
$color-teal: #3FF0B9;
$color-cyan: #08B1BA;
$color-black: #000;
$color-white: #fff;
$color-gray-dark:#343a40;
$color-gray-100:#f8f9fa;
$color-gray-200:#e9ecef;
$color-gray-300:#dee2e6;
$color-gray-400:#ced4da;
$color-gray-500:#adb5bd;
$color-gray-600:#aca4bc;
$color-gray-700:#495057;
$color-gray-800:#343a40;
$color-gray-900:#161D2B;
$color-grey-light:#D0D0D0;
$color-orange-light:#F24E1E;
$color-primary:$primary-color;
$color-secondary:$secondary-color;
$color-success:#1AA053;
$color-info:#08B1BA;
$color-warning:#F16A1B;
$color-danger:#C03221;
$color-light:#dee2e6;
$color-dark:#161D2B;
$color-tertiray:#3FF0B9;
$color-gray:#495057;
$color-primary-rgb: 112, 22, 208;
$color-secondary-rgb: 172, 164, 188;
$color-success-rgb: 26, 160, 83;
$color-info-rgb: 8, 177, 186;
$color-warning-rgb: 241, 106, 27;
$color-danger-rgb: 192, 50, 33;
$color-light-rgb: 222, 226, 230;
$color-dark-rgb: 22, 29, 43;
$color-tertiray-rgb: 63, 240, 185;
$color-gray-rgb: 73, 80, 87;
$color-white-rgb: 255, 255, 255;
$color-black-rgb: 0, 0, 0;
$color-body-color-rgb: 109, 109, 109;
$color-body-bg-rgb: 243, 243, 243;
$color-gradient: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
$color-body-color: #6D6D6D;
$color-body-bg: #F3F3F3;
$color-border-color: #eee;
$color-border-color-translucent: rgba(0, 0, 0, .175);
$color-border-radius: .25rem;
$color-border-radius-sm: .125rem;
$color-border-radius-lg: .5rem;
$color-border-radius-xl: 1rem;
$color-border-radius-2xl: 2rem;
$color-border-radius-pill: 50rem;
$color-link-color: #7016d0;
$color-link-hover-color: #5a12a6;
$color-code-color: #d63384;
$color-highlight-bg: #fce1d1;
$nav-heading-color: #666666;
$color-info: #08B1BA;
$scroll-track: #485364;
$scroll-thumb: #37415157;
$scroll-thumb-hover: #2b3546d8;
$color-vaguely-violet :#DCE4F0;
$color-zircon :#F6FAFF;
$color-alice-blue:#f0f7ff;
$color-light-cyan:#D8E8FD;
$color-dark-imperial-blue:#003F66;
$color-silver:#C1C1C1;
$color-dark-green:#009900;
$color-steel:#787878;
$color-gray-60:#999999;
$color-super-silver:#EEEEEE;
$color-Linen:#FBEAEA;
$color-Gainsboro:#DCDCDC;
$color-white-smoke:#FFF2F2;
$color-moonstone:#37adbf;
$color-Silver-Chalice:#b2b2b2;
$color-Davys-grey:#555;
$color-light-gray:#DDD;
$color-gold:#ffd700;
$color-light-white-bg:#f9f9fb;
$light-yellow:#FFFCDD;
$divider-border:#e2e2e2;
$color-bg:#F4F4F4;
$table-td-odd: rgba(239, 239, 239, 1);
$color-red-dark:#b20000;
$profit-loss-color:#909090;
$input-checked-bg:#009900;
$invested-color:#919191;
$invested-money-color:#0094e8;
$success-alert:#3ED231;
$info-alert:#3184D1;
$warning-alert:#FFB628;
$error-alert:#F24E1E;
$lineargradient-2:linear-gradient(180deg, #fffcee 0%, #fff1ee 100%, rgba(255, 252, 238, 0) 100%);
$lineargradient-3:linear-gradient(180deg, #ffeec1 0%, #95fff2 145.19%, #fff1ee 145.19%);
$border-grey:#CCCCCC;