@import'_color.scss';
@import'_variable.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $global-font-family;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: $global-font-family;
}

body {
	background: var(--global-body-bgcolor);
	color: $global-font-color;
	font-family: $global-font-family;
	font-size: $font-size-body;
	line-height: $font-line-height-body;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

span,
strong,
p {
	font-family: $global-font-family;
}

ul,
li {
	list-style: none;
	text-decoration: none;
}

a {
	text-decoration: none !important;
	list-style: none !important;
}

a:hover {
	text-decoration: none;
	list-style: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $highlight-font-family;
	font-stretch: condensed;
	clear: both;
	margin: 0.625em 0;
	word-break: break-word;
	text-transform: capitalize;
}

h1,
.h1 {
	font-family: $highlight-font-family;
	color: $global-font-title;
	font-size: $font-size-h1;
	line-height: $font-line-height-h1;
	letter-spacing: $font-letter-spacing-h1;
	font-weight: $font-weight-h1;
}

h2,
.h2 {
	font-family: $highlight-font-family;
	color: $global-font-title;
	font-size: $font-size-h2 !important;
	line-height: $font-line-height-h2;
	letter-spacing: $font-letter-spacing-h2;
	font-weight: $font-weight-h2;
}

h3,
.h3 {
	font-family: $highlight-font-family;
	color: $global-font-title;
	font-size: $font-size-h3;
	line-height: $font-line-height-h3;
	letter-spacing: $font-letter-spacing-h3;
	font-weight: $font-weight-h3;
}

h4,
.h4 {
	font-family: $highlight-font-family;
	color: $global-font-title;
	font-size: $font-size-h4;
	line-height: $font-line-height-h4;
	letter-spacing: $font-letter-spacing-h4;
	font-weight: $font-weight-h4;
}

h5,
.h5 {
	font-family: $highlight-font-family;
	color: $global-font-title;
	font-size: $font-size-h5;
	line-height: $font-line-height-h5;
	letter-spacing: $font-letter-spacing-h5;
	font-weight: $font-weight-h5;
}

h6,
.h6 {
	font-family: $highlight-font-family;
	color: $global-font-title;
	font-size: $font-size-h6;
	line-height: $font-line-height-h6;
	letter-spacing: $font-letter-spacing-h6;
	font-weight: $font-weight-h6;
}

button,
input,
select,
optgroup,
textarea {
	color: var(--global-font-color);
}

small,
.text_small {
	font-size: $font-size-small;
}

.overflow-hidden {
	overflow: hidden;
}

.z-index-minus {
	z-index: var(--z-index-minus);
}

.letter-spacing {
	letter-spacing: var(--letter-spacing);
}

a {
	color: var(--color-dashboard-primary);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
	font-size: inherit;
	color: inherit;
}

p {
	font-family: $global-font-family;
	word-break: break-word;
	margin: 1em 0;
	line-height: var(--font-line-height-p);
}

a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

a:focus {
	outline: none !important;
}

.section-title {
	font-size: $font-size-h4 !important;
	line-height: $font-line-height-h4;
	font-weight: $font-weight-semi-bold;
	text-transform: capitalize;
	color: $global-font-title;
}

.section-title-app {
	font-size: 1.5rem !important;
	line-height: $font-line-height-h4;
	font-weight: $font-weight-bold;
	text-align: center;
	text-transform: capitalize;
	color: $global-font-title;
}

.font-14 {
	font-size: $font-size-normal !important;
}

.font-12 {
	font-size: $font-size-small !important;
}

.subtitle {
	font-weight: $font-weight-regular;
	font-size: $font-size-h5;
	line-height: $font-line-height-h5;
	text-align: center;
	color: $global-font-color;
}

.container {
	@media (max-width:61.938rem) {
		width: 100%;
		max-width: 100% !important;
	}
}

.p-15 {
	padding-left: 0.938rem;
}

@media screen and (min-width: 100rem) {
	.container {
		max-width: 98.125rem !important;
	}

	.container-fluid {
		max-width: 98.125rem !important;
	}
}

.font-18 {
	font-size: $font-size-18;
}

@media (max-width:48rem) {
	.w-sm-100 {
		width: 100%;
	}
}

/* custom scroll */
/* width */
::-webkit-scrollbar {
	width: 0.313rem;
	height: 0.625em;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.313rem $scroll-track;
	border-radius: 0.625em;
}

// Handle /
::-webkit-scrollbar-thumb {
	background: $scroll-thumb;
	border-radius: 0.625em;
}

// Handle on hover /
::-webkit-scrollbar-thumb:hover {
	background: $scroll-thumb-hover;
}

.box-shadow {
	box-shadow: 0 0 1.25rem rgb(115 105 215 / 10%);

}

.checked {
	color: orange;
}

.grid-wrapper {
	display: grid;
	@media (max-width:48rem) {
		margin: 0.938rem 0;
	}
}

.grid-container {
	display: grid;
	gap: 1.5rem;
	grid-auto-columns: 1fr 1fr;
	padding-block: 2rem;
	margin-inline: auto;
}

.ml-100 {
	margin-left: 6.25rem;

	@media (max-width:48rem) {
		margin-left: 0;
	}
}

.mb-45 {
	margin-bottom: 2.813rem;
}

.btn-rounded-20 {
	border-radius: $border-radius-20;
}

.padding-left-4 {
	padding-left: 1.875rem !important;
}

.filter-up-down {
	display: flex;
	flex-direction: column;

	.top-arrow {
		font-size: 0.625rem;
		padding: 0;
		height: 0.625rem;
	}

	.bottom-arrow {
		font-size: 0.625rem;
		margin: 0;
		padding: 0;
	}
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.h-90vh {
	height: 90vh;
}

.color-smalt {
	color: $color-smalt;
}

.border-left {
	border-left: 0.063rem dashed;
}

.padding-left-10 {
	padding-left: 0.625rem;
}

.font-weight-800 {
	font-weight: $font-weight-bolder;
}

.font-normal {
	font-size: $font-size-normal;
}

.font-small {
	font-size: $font-size-small;
}

.profit {
	color: $color-green-dark !important;
}

.loss {
	color:$color-red-medium !important;
}

@media (max-width:35.438rem) {
	.justify-content-xs-center {
		justify-content: center;
	}
}
.padding-top-80 {
	padding-top: 1.938rem;

	@media (max-width:61.938rem) {
		padding-top: 0;
	}
}

.bg-red-gradient {
	background: linear-gradient(90deg, #BC1313 21.99%, rgba(237, 192, 192, 0) 83.51%, rgba(255, 255, 255, 0) 98.08%) !important;
	border-radius: 0.625rem 0.313rem 0 0;
}

.dashboard-wrapper {
	background-image: url('../web-asset/images/dashboard-background.png');
	background-position-x: left;
	background-position-y: bottom;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
.vh-80 {
height: calc(100vh - 20%);

@media (max-width:991px) {
	height: 100%;
	
}
}

.table-ligher-bg{
	background: $primary-color-lighter; }

	.primary-color {
		color: $primary-color;
	}