.breadcrumb-section
{
    background-image: url('../web-asset/images/mutual-fund-breadcrumb-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7.5rem 1rem;

    @media (max-width:61.938rem) {
     padding:3.75rem 1rem;
    }
}


.breadcrumb-style-2 {
    background-image:url("../images/breadcrumb-bg-2.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 0 !important;



    ul {
        margin: 0;
        li {
            .breadcrumb-link { 
                font-size: $global-font-size;
                color: $color-white;
            }
        }
    }

}