.credentail-wrapper {
    height: 100vh;
    width: 100%;
    background-image: url('../web-asset/images/credentail-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .credentail-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .credential-card {
            background: #ffffff40;
            box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(1.094rem);
            border-radius: 1.313rem;
            padding: 3.125rem;

            .credentail-header {
                display: flex;
                justify-content: center;
            }

            .credentail-body {
                .credentail-title {
                    color: $color-white;
                    text-align: center;
                    font-weight: $font-weight-semi-bold;
                }

                input {
                    font-size: $font-size-normal;

                    &:focus {
                        box-shadow: none;
                        border-color: $primary-color;
                    }

                    &:hover {
                        box-shadow: none;
                    }
                }

                .form-check-input {
                    border-color: $color-white;
                    background: transparent;

                    &:focus {
                        box-shadow: none;
                        border-color: $primary-color;

                    }

                    &:hover {
                        box-shadow: none;
                    }

                }

                .form-check-label {
                    font-size: $font-size-normal;
                }
            }
        }

        .form-check {
            .form-check-label {
                color: $color-black;
            }
        }
    }
}