.testimonail-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.25rem;

    .testimonail {
        height: fit-content;
        margin-bottom: 5rem;
    }

    @media (max-width:48rem) {
        grid-template-columns: auto;
    }

    .testimonail-img {
        border: 0.125rem solid $color-grey-85;
        border-radius: 1.25rem;
    }

    
    .testimonail-title {
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-body;
        line-height: 150%;
        margin-bottom: 0;
        padding: 0;
        margin: 0;
    }

    .testimonail-desc {
        font-weight: $font-weight-body;
        font-size: $font-size-normal;
        line-height: 150%;
        padding: 0 1.25rem;
    }

    .circle-testimonail {
        background: $color-grey-85-light;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        padding: 1.875rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        position: relative;
        grid-column-start: 2;
        grid-column-end: 3;
        // grid-row-start: 1;
        grid-row-start: span 2;
        // margin-top: 4.188rem;
        // grid-row-end: 2;
        height: fit-content;
        align-self: center;

        &::after {
            content: "";
            position: absolute;
            filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, .15));
            left: 42%;
            top: 100%;
            width: 0;
            transform: skewX(-25deg);
            height: 0;
            border-left: 0.125rem solid transparent;
            border-right: 2.313rem solid transparent;
            border-top: 3.688rem solid $color-grey-91;
            clear: both;

            @media (max-width:61.938rem) {
                content: none;
            }
        }

        @media (max-width:48rem) {
            grid-column-start: 1;
            grid-column-end: 3;
            margin-top: 0;
        }
        p {
            font-weight: $font-weight-regular;
            font-size: $font-size-normal;
            line-height: 150%;
        }
    }

   

    .testimonail {
        padding: 1.5rem;
    }
}

.rectangle-testimonail {
    padding: 1.5rem;
    background: $color-grey-85-light;
    border-radius: $border-radius-15;
    display: flex;
    height: fit-content;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    position: relative;
    margin-bottom: 5rem;


    &::after {
        content: "";
        position: absolute;
        filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, .15));
        left: 10%;
        top: 100%;
        width: 0;
        transform: skewX(30deg);
        height: 0;
        border-left: 0.125rem solid transparent;
        border-right: 2.5rem solid transparent;
        border-top: 3.688rem solid $color-grey-91;
        clear: both;

        @media (max-width:61.938rem) {
            content: none;
        }
    }

    @media (max-width:48rem) {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 1.25rem;
    }

    p {
        font-weight: $font-weight-regular;
        font-size: $font-size-normal;
        line-height: 150%;
    }
}

.rectangle-testimonail-2 {
    background: $color-grey-85-light;
    border-radius: $border-radius-15;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    padding: 1.5rem;
    margin-bottom: 5rem;

    &::after {
        content: "";
        position: absolute;
        filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, .15));
        right: 10%;
        top: 100%;
        width: 0;
        transform: skewX(0deg);
        height: 0;
        border-left: 0.125rem solid transparent;
        border-right: 2.5rem solid transparent;
        border-top: 3.688rem solid $color-grey-91;
        clear: both;

        @media (max-width:61.938rem) {
            content: none;
        }
    }

    @media (max-width:48rem) {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 1.25rem;
    }
    p {
        font-weight: $font-weight-regular;
        font-size: $font-size-normal;
        line-height: 150%;
    }
}

.circle-testimonail {
    padding: 1.5rem;
    background: $color-grey-85-light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    padding: 1.875rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: span 2;
    height: fit-content;
    align-self: center;
    

    &::after {
        content: "";
        position: absolute;
        filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, .15));
        left: 42%;
        top: 100%;
        width: 0;
        transform: skewX(-25deg);
        height: 0;
        border-left: 0.125rem solid transparent;
        border-right: 2.313rem solid transparent;
        border-top: 3.688rem solid $color-grey-91;
        clear: both;

        @media (max-width:61.938rem) {
            content: none;
        }
    }

    @media (max-width:48rem) {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 0;
    }
    p {
        font-weight: $font-weight-regular;
        font-size: $font-size-normal;
        line-height: 150%;
    }
}